@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
body {
    background-image: url("/images/back.jpg");
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-family: rampart-one, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
    font-size: 50px;
}

#hello {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-weight: 300;
    font-style: normal;
}

h3 {
    margin: 10px auto 0;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-weight: bold;
    font-style: normal;
}

#add_post, #show_posts {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-style: normal;
}

#exit_btn {
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #000000;
    background: white;
    -webkit-box-shadow: 0px 0px 23px 11px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 23px 11px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 23px 11px rgba(0, 0, 0, 0.14);
    transition: .3s;
    background-color: transparent;
    border-color: transparent;
}

#exit_btn:hover {
    background: rgb(255, 148, 238);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
    color: white;
    transform: translateY(-7px);
}

#posts, #navigate {
    width: 60%;
    margin: 0px auto;
    text-align: center;
    background-color: #ffcceb; /*rgb(255, 255, 255);*/
    border-radius: 10px;
    padding: 10px 0px;
}

#post {
    width: 90%;
    margin: 20px auto 20px;
    background-color: #fff9e4; /*rgb(251,229,234);*/
    border-radius: 10px;
}

#cent {
    width: 60%;
    margin: 10px auto;
}
