@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
body {
    background-image: url("/images/back.jpg");
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

#container {
    margin-top: 20px;
}

#non-id {
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-family: rampart-one, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-size: 50px;
}

#reg_form {
    margin-top: 40px;
    padding: 40px;
}

#nickname #login, #password{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border-color: #ff36e4;
    background-color: transparent;
    box-shadow: 0 0 5px;
    margin-bottom: 5px;
}

#reg_btn {
    text-decoration: none;
    display: inline-block;
    width: 210px;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #000000;
    background: white;
    -webkit-box-shadow: 0px 0px 23px 11px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 23px 11px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 23px 11px rgba(0, 0, 0, 0.14);
    transition: .3s;
    background-color: transparent;
    border-color: transparent;
}
#reg_btn:hover {
    background: rgb(255, 148, 238);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
    color: white;
    transform: translateY(-7px);
}